My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        -96
      ],
      "id": "f3e9e6be-1501-45c3-826b-7a1a54e474cc",
      "name": "Wait",
      "webhookId": "b28109df-4226-4fe7-b5cf-07b874f3c3a7"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyAR4F_CRgrbPheAeW9s8P5tIJfiRPim7ck"
            },
            {
              "name": "cx",
              "value": "12d190f25cb5146c1"
            },
            {
              "name": "q",
              "value": "site:zomato.com/bangalore \\\"Barbeque Nation\\\"\n\n\n\n\n\n\n\n\n\n\n\n"
            },
            {
              "name": "start",
              "value": "={{ $runIndex == 0 ? $node[\"Set Fields\"].json.currentStartIndex : $node[\"If\"].json.startIndex }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        -96
      ],
      "id": "c3ec2f56-6e5f-4987-8613-13c2459ddd72",
      "name": "Search Google"
    },
    {
      "parameters": {
        "jsCode": "// Get the response data\nconst response = $input.first().json;\nconst items = response.items || [];\n\n// Track pagination info\nlet nextStartIndex = 1;\nif (response.queries && response.queries.nextPage && response.queries.nextPage[0]) {\n  nextStartIndex = response.queries.nextPage[0].startIndex;\n}\n\n// Calculate if we should continue (Google only allows up to 100 results)\nconst hasMoreResults = nextStartIndex <= 100;\n\n// Process the items and include pagination info in each item\nconst results = items.map(item => {\n  const titleParts = item.title.split(\" - \");\n  return {\n    name: titleParts[0] || null,\n    title: titleParts.slice(1).join(\" - \") || null,\n    link: item.link || null,\n    snippet: item.snippet || null,\n    image: item.pagemap?.cse_thumbnail?.[0]?.src || null,\n    // Add pagination info to each item\n    startIndex: nextStartIndex,\n    hasMoreResults: hasMoreResults\n  };\n});\n\n// If there are no results, return at least one item with pagination info\nif (results.length === 0) {\n  return [{\n    json: {\n      name: null,\n      title: null,\n      link: null,\n      snippet: null,\n      image: null,\n      startIndex: nextStartIndex,\n      hasMoreResults: false\n    }\n  }];\n}\n\n// Return the processed results\nreturn results.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -96
      ],
      "id": "51f2d1b8-444f-4a2c-b642-37f4826acf44",
      "name": "Extract Results"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BIj4qcbIMUd1tFT0-qD4FMWLJOnXUmUFL_JswZLNpxo",
          "mode": "list",
          "cachedResultName": "Test Spreadsheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BIj4qcbIMUd1tFT0-qD4FMWLJOnXUmUFL_JswZLNpxo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BIj4qcbIMUd1tFT0-qD4FMWLJOnXUmUFL_JswZLNpxo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $json.name }}",
            "snippet": "={{ $json.snippet }}",
            "link": "={{ $json.link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1072,
        -96
      ],
      "id": "0e5ad535-ee2f-4b6a-ad6b-4e06d073b1c4",
      "name": "Add to Gooogle",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jlTlzH0NWiJwEYJj",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0c91def1-6866-4d4a-b052-c715121d810e",
              "name": "currentStartIndex",
              "value": 1,
              "type": "number"
            },
            {
              "id": "f5669cc4-37ba-4743-ab66-283897703020",
              "name": "maxPages",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -96
      ],
      "id": "a933c774-a24d-4595-be7c-21c7aa31d938",
      "name": "Set Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Add to Gooogle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google": {
      "main": [
        [
          {
            "node": "Extract Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Results": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Gooogle": {
      "main": [
        []
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Search Google",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4be958fc-f939-46f5-8428-0065c0115fbf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9beea2bd14d089c0d9ddeabcdc12eb79e796221ac5a3ed9a4d8521c351d5ca53"
  },
  "id": "x0R1ac9YpaNhaBbP",
  "tags": []
}